h1{
    color:saddlebrown;
    text-align: center;
}

body {
    background-color: darkgoldenrod;
}

h2{
    text-align: center;
}

p{
    text-align: center; 
    border-style: solid;
    border-color:bisque;
}

ul li{
    color:crimson;
}

img[src="Elden_Ring_Title_Photo_1.jpg"]{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
